html,
body {
  width: 100%;
  height: 100%;
}
body {
  padding: 0;
  margin: 0;
}
#ugis {
  height: 100%;
  width: 100%;
  font-family: arial;
}
#ugis .app {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
}
#ugis .app .flex-row {
  flex: 1;
  display: flex;
  border-bottom: 1px solid #7d7d7d;
}
.header {
  height: 20px;
  border-bottom: 1px solid;
  width: 100%;
  display: none;
}
.header h1 {
  margin: 0 0 0 10px;
  color: white;
  font-size: 14px;
  line-height: 20px;
}
.toolbar {
  border-bottom: 1px solid #7d7d7d;
  background: #303030;
  width: 100%;
}
.toolbar h1 {
  margin: 0;
  float: left;
  color: white;
  font-size: 18px;
  padding: 3px 5px 0 5px;
  text-shadow: 1px 1px 0px #000000;
}
.toolbar .toolbar-dropdown {
  float: left;
  position: relative;
  background: blue;
}
.toolbar .toolbar-dropdown > .toolbar-item {
  margin: 0;
}
.toolbar .toolbar-dropdown i {
  padding-left: 5px;
}
.toolbar .toolbar-dropdown .submenu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  background: #303030;
  margin: 0;
  border-radius: 0;
  display: inline-block;
}
.toolbar .toolbar-dropdown .submenu .toolbar-item {
  display: inline-block;
  white-space: nowrap;
  margin: 0;
  width: 110%;
}
.toolbar .toolbar-item {
  margin: 8px 0 8px 9px;
  padding: 5px 5px;
  float: left;
  background-color: #303030;
  border-width: 0;
  border-radius: 0px;
  border-color: #d5d5d5;
  font-size: 14px;
  color: #7d7d7d;
}
.toolbar .toolbar-item .label {
  float: left;
}
.toolbar .toolbar-item .icon {
  float: right;
}
.toolbar .toolbar-item.active {
  color: #fff;
}
.toolbar .toolbar-item.active:hover,
.toolbar .toolbar-item.open {
  cursor: pointer;
  background-color: #7d7d7d;
}
.add-layers {
  width: 50px;
  min-height: 100px;
  flex: none;
  border-right: 1px solid #7d7d7d;
  background: #303030;
}
.add-layers .add-layer-item {
  width: 30px;
  height: 30px;
  line-height: 30px;
  font-size: 24px;
  margin: 10px auto;
  border-radius: 2px;
  text-align: center;
  color: white;
  position: relative;
}
.add-layers .add-layer-item:hover {
  background-color: #636363;
}
.layer-list {
  min-height: 100px;
  flex: none;
  border-right: 1px solid #d5d5d5;
  background: #636363;
}
.layer-list .layer {
  text-align: left;
  padding: 10px;
  background: #525252;
  border-bottom: 1px solid #7d7d7d;
}
.layer-list .layer span {
  padding-left: 5px;
}
.right-pane {
  min-height: 100px;
  min-width: 400px;
  flex: 1;
  flex-direction: column;
  display: flex;
}
.work-space {
  min-height: 100px;
  min-width: 400px;
  flex: 1;
}
.attribute-table {
  flex: none;
}
.message-bar {
  height: 20px;
  width: 100%;
  background: #525252;
}
.message-bar .message-bar-item {
  float: left;
  font-size: 14px;
  margin: 0 0 0 5px;
  color: white;
  line-height: 20px;
}
.message-bar .coordinates {
  float: right;
  text-align: right;
  margin: 0 5px 0 0;
}
.tooltip {
  display: inline-block;
  position: absolute;
  top: 10%;
  left: 100%;
  z-index: 9999;
  background: #303030;
  color: white;
  padding: 5px;
  margin-left: 5px;
}
.tooltip .tooltip-inner {
  font-size: 11px;
  line-height: 12px;
  text-align: center;
  white-space: nowrap;
}
.vex.vex-theme-os .vex-content {
  border-radius: 0;
  /*  background-color: @lightest;
  border-color: @light;*/
}
.vex.vex-theme-os .vex-content select {
  border-radius: 3px;
  background: white;
  width: 100%;
  padding: 0.25em 0.67em;
  border: 0;
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  min-height: 2.5em;
  margin: 0 0 0.25em;
}
.vex.vex-theme-os .vex-dialog-button.vex-dialog-button-primary {
  background-color: #428675;
}
.vex-custom-field-wrapper {
  background: red;
  margin: 1em 0;
}
.vex-custom-field-wrapper > label {
  display: inline-block;
  margin-bottom: .2em;
}
